HOST=localhost
PORT=8080
POSTGRES_USER=immos_user
POSTGRES_PASSWORD=immos_pass
DATABASE_URL=postgresql://immos_user:immos_pass@localhost:5432/immos
DATABASE_URL_RO=postgresql://immos_user:immos_pass@localhost:5432/immos